/* GENERAL STYLES */
body{
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
}

/* UTILITIES */
/* Typography */
h2{
    font-size: 35px;
    font-weight: 700; 
}

h3{
    font-weight:700;
}

p{
    font-size: 18px;
}

i{
    font-size: 30px;
}
/* Buttons */
.btn-default{
    font-size: 18px;
    background: #1abc9c;
    color: white;
    border-radius: 5px;
    padding: 15px;
    transition: .4s;
}

.btn-default:hover{
    background: #118c74;
    color: white;
}

/* List style */
ul li{
    display: inline-block;
}
/* Text colors */
.green-text{
    color: #1abc9c;
}

.white-text{
    color: #fff;
}
/* Margini predefiniti */
.mb-30{
    margin-bottom: 30px;
}

.mb-50{
    margin-bottom: 50px;
}

.mt-30{
    margin-top: 30px;
}

.mt-50{
    margin-top: 50px;
}

/* NAV BAR BOOTSTRAP STYLE PERSONALIZZATI */
.main-header .navbar{
    background:#2c3e50;
    padding: 20px 0;
    border: none;
    margin-bottom: 0;
}

.main-header .navbar-brand{
    font-size: 22px;
    font-weight: 700;
    color: white;
    transition: .4s;
}

.main-header .navbar-brand:hover{
    color: #1abc9c;
    background-color: black;
}

.main-header .navbar-nav li a{
    font-size: 18px;
    font-weight: 700;
    color: white;
    transition: .4s;
}

.main-header .navbar-nav li a:hover{
    color: #1abc9c;
}
/* Nav bar media query */
@media screen and (min-width: 992px){
    .main-header .navbar{
        background:#2c3e50;
        padding: 20px 0;
    }

    .main-header .navbar-brand{
        font-size: 30px;
    }
    
    .main-header .navbar-nav li a{
         font-size: 18px;
    }
}

/* JUMBOTRON */
.jumbotron{
    background: #1abc9c;
} 

.jumbo-elements img{
    width: 300px;
}

.jumbo-elements h1{
    font-size: 50px;
    font-weight: 700;
}

.jumbo-elements i{
    font-size: 25px;
}

.jumbo-elements p{
    font-size: 20px;
}
/* Jumbotron media query (md) */
@media screen and (min-width: 992px){
    .jumbo-elements img{
        width: 400px;
    }

    .jumbo-elements h1{
        font-size: 65px;
        font-weight: 700;
    }

    .jumbo-elements i{
        font-size: 35px;
    }
    
    .jumbo-elements p{
        font-size: 30px;
    }
}

/* PORTFOLIO */
.portfolio span{
    font-size: 25px;
}
.portfolio-box{
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}

.portfolio-layover{
    position: absolute;
    border-radius: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 188, 156, .6);
    opacity: 0;
    transition: .4s;
}

.portfolio-layover i{
    font-size: 70px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-layover:hover{
    opacity: 1;
}

.portfolio-box img{
    border-radius: 20px;
}
/* Portfolio media query  */
@media screen and (min-width: 992px){
    .portfolio h2{
        font-size: 50px;
    }
}

/* ABOUT */
.about{
    background: #1abc9c;
}

.about h2{
    padding-top: 50px;
}

.about a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    padding: 15px;
    transition: .4s;
}

.about a i{
    font-size: 20px;
}

.about a:hover{
    color: black;
    background-color: white;
}
/* About media query */
@media screen and (min-width: 992px){
    .about h2{
        font-size: 50px;
    }
    .about p{
        font-size: 23px;
    }

    .about a{
        font-size: 20px;
        border: 3px solid white;
        padding: 20px;
    }
    
    .about a i{
        font-size: 25px;
    }
    
}

/* CONTACT */
.form-group{
    margin: 30px 0;
}

.form-elements input, 
.form-elements textarea{
    font-size: 19px;
    padding: 25px 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}

.form-elements input:focus, 
.form-elements textarea:focus{
    border-bottom: 1px solid #1abc9c;
    box-shadow: none;
}
/* Contact media query */
@media screen and (min-width: 992px){

.form-elements input, 
.form-elements textarea{
    font-size: 22px;
    padding: 30px 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}
}

/* FOOTER */
.footer{
    background: #2c3e50;
}

.footer-col ul li a{
    color: white;
    padding-right: 30px;
    transition: .4s;
}
.footer-col ul li a:hover{
    color: #1abc9c;
}
/* Footer media query */
@media screen and (min-width: 992px){
    .footer p{
        font-size: 20px;
    }
}
/* Copyright */
.copyright{
    background: #1a252f;
    height: 100px;
    line-height: 100px;
}

.copyright p{
    font-size: 12px;
}
