/* UTILITIES */

/* NAV BAR */
.nav-bar{
    background: #2c3e50;
    height: 100px;
}

.nav-left{
    background: red;
    line-height: 100px;
}

.nav-right{
    background: blue;
    line-height: 100px;
}

/* JUMBOTRON */
.jumbotron{
    background: #1abc9c;
}

.jumbo-elements{
    background: black;
    height: 400px;
}

/* PORTFOLIO */
.portfolio-box{
    background: yellow;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 30px;
}


/* ABOUT */
.about{
    background: #1abc9c;
}

.left-about{
    background: red;
    height: 400px;
    margin-bottom: 30px;
}

.right-about{
    background: blue;
    height: 400px;
}