/* GENERAL STYLES */
body{
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
}

/* UTILITIES */
ul li{
    display: inline-block;
}
/* Typography */
h2{
    font-size: 35px;
    font-weight: 700; 
}

h3{
    font-weight:700;
}

p{
    font-size: 18px;
}

i{
    font-size: 30px;
}
/* Text colors */
.green-text{
    color: #1abc9c;
}

.white-text{
    color: #fff;
}
/* Margini predefiniti */
.mb-30{
    margin-bottom: 30px;
}

.mb-50{
    margin-bottom: 50px;
}

.mt-30{
    margin-top: 30px;
}

.mt-50{
    margin-top: 50px;
}


/* NAV BAR BOOTSTRAP STYLE PERSONALIZZATI */
.main-header .navbar{
    background:#2c3e50;
    border: none;
}

.main-header .navbar-brand{
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
    font-size: 22px;
    font-weight: 700;
    color: white;
    transition: .4s;
}

.main-header .navbar-brand:hover{
    color: #1abc9c;
    background-color: black;
}

.main-header .navbar-nav li a{
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    transition: .4s;
}

.main-header .navbar-nav li a:hover{
    color: #1abc9c;
}
/* Nav bar media query */
@media screen and (min-width: 992px){
    .main-header .navbar-brand{
        height: 120px;
        line-height: 120px;
        font-size: 30px;
    }
    
    .main-header .navbar-nav li a{
        height: 120px;
        line-height: 120px;
         font-size: 18px;
    }
}

/* JUMBOTRON */
.jumbotron{
    background: #1abc9c;
} 

.jumbo-elements img{
    width: 300px;
}

.jumbo-elements h1{
    font-size: 50px;
    font-weight: 700;
}

.jumbo-elements i{
    font-size: 25px;
}

.jumbo-elements p{
    font-size: 20px;
}
/* Jumbotron media query (md) */
@media screen and (min-width: 992px){
    .jumbo-elements img{
        width: 400px;
    }

    .jumbo-elements h1{
        font-size: 65px;
        font-weight: 700;
    }

    .jumbo-elements i{
        font-size: 35px;
    }
    
    .jumbo-elements p{
        font-size: 30px;
    }
}

/* PORTFOLIO */
.portfolio span{
    font-size: 25px;
}
.portfolio-box{
    background: yellow;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 30px;
}

/* ABOUT */
.about{
    background: #1abc9c;
}

.about h2{
    padding-top: 50px;
}

.left-about{
    /* margin-bottom: 30px; */
}

.about a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    padding: 15px;
    transition: .4s;
}

.about a i{
    font-size: 20px;
}

.about a:hover{
    color: black;
    background-color: white;
}
/* About media query (md) */
@media screen and (min-width: 992px){
    .about p{
        font-size: 23px;
    }

    .about a{
        font-size: 20px;
        border: 3px solid white;
        padding: 20px;
    }
    
    .about a i{
        font-size: 25px;
    }
    
}

/* CONTACT */
.contact-list-items{
    background: grey;
    line-height: 100px;
}

/* FOOTER */
.footer{
    background: #2c3e50;
}

.footer-col ul li a{
    color: white;
}
@media screen and (min-width: 992px){
    .footer p{
        font-size: 20px;
    }
}
@media screen and (min-width: 1200px){
    .footer p{
        font-size: 23px;
    }
}
/* Copyright */
.copyright{
    background: #1a252f;
    height: 100px;
}
